<!doctype html>
<html lang="en">

<head>
  {% set title = blog_post.title %}
  {% include "head_common.html.j2" %}

  {% if blog_post.description -%}
  <meta name="description" content="{{ blog_post.description }}">
  {% endif -%}
  <meta property="article:published_time" content="{{ blog_post.publication_dt| date(format="%Y-%m-%dT%H:%M:%S%:z") }}">
  <meta property="article:modified_time" content="{{ blog_post.last_update_dt| date(format="%Y-%m-%dT%H:%M:%S%:z") }}">
</head>

<body>
  <header>
    {% set author_name = blog_post.author %}
    {% include "navbar.html.j2" %}
    <h1>{{ blog_post.title }}</h1>
    <p>
      {%- if blog_post.description_html %}
      {{- blog_post.description_html | safe }}
      {%- endif %}
      <small>
        {# Date formatting reference: https://docs.rs/chrono/0.4.44/chrono/format/strftime/ #}
        Last updated on {{ blog_post.last_update_dt| date(format="%B %d, %Y") }}
      </small>
    </p>
  </header>
  <main>
    {{ main_content | safe }}
  </main>

  {% include "footer.html.j2" %}
</body>

</html>