<!doctype html>
<html lang="en">

<head>
  {% include "head_common.html.j2" %}
  <link href="/atom.xml" type="application/atom+xml" rel="alternate" title="Sitewide atom feed">
</head>

<body>
  <header>
    {% include "navbar.html.j2" %}
  </header>

  <main>
    {%- for blog_post in blog_posts %}
    <article>
      <strong><a href="/{{ blog_post.relative_path }}">{{ blog_post.title }}</a></strong>
      <p>
      {{ blog_post.description }}
      </p>
      <small>
        {# Date formatting reference: https://docs.rs/chrono/0.4.44/chrono/format/strftime/ #}
        Last updated on {{ blog_post.last_update_dt| date(format="%B %d, %Y") }}
      </small>
    </article>
    {%- endfor %}
  </main>

  {% include "footer.html.j2" %}
</body>

</html>